.listHeader{
    color: #707070;
    font-family: Roboto;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeaderMaster{
    display: flex;
    flex-direction: row;
}

.divLeftHeader{
    margin-right:75%;
    background-color: #707070;
}